{% extends "@UVDeskCoreFramework//Templates//layout.html.twig" %}

{% block title %}{{ 'Customer matching'|trans }}{% endblock %}

{% block pageContent %}
	<style>
		.select2-container {
			display: block !important;
			width: auto !important;
		}
	</style>

	<div class="uv-inner-section">
		{# Append Panel Aside #}
		{% set asideTemplate = 'Webkul\\UVDesk\\CoreFrameworkBundle\\Dashboard\\AsideTemplate' %}
		{% set asideSidebarReference = 'Webkul\\UVDesk\\CoreFrameworkBundle\\UIComponents\\Dashboard\\Panel\\Sidebars\\Users' %}

		{{ uvdesk_extensibles.getRegisteredComponent(asideTemplate).renderSidebar(asideSidebarReference) | raw }}
		
		<div class="uv-view {% if app.request.cookies and app.request.cookies.get('uv-asideView') %}uv-aside-view{% endif %}">
			<h1>{{ 'Customer matching'|trans }}</h1>
			<div class="uv-table uv-list-view">
				<table>
					<thead>
					<tr>
						<th>Nutzer</th>
						<th>E-Mail</th>
						<th>Kunde</th>
					</tr>
					</thead>
					<tbody>
						{% for u in users %}
						{% set selected_option = ( u.id in matches|keys ? matches[u.id] : null ) %}
						<tr>
							<td>
								{{u.fullName}}
							</td>
							<td>
								{{u.email}}
							</td>
							<td>
								<select class="uv-select" data-user-id={{u.id}} id="customers_{{u.id}}">
									
									<option value="">
										{{"Customer Name"|trans}}...
									</option>

									{% for k in kunden %}

										<option value={{ k.id }}
											{% if selected_option == k.id %}selected{% endif %}>
											{{ k.matchcode }}
										</option>

									{% endfor %}

								</select>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{{ parent() }}
	<script>
		$(document).ready( () => {
			$("select[id^='customers_']").select2()
			$("select[id^='customers_']").on("change", e => {
				var url = "{{path('webmatic_customer_match_user', {customer: '__CUSTOMER__', user: '__USER__'})}}"
				url = url.replace("__USER__", e.target.dataset.userId)
				url = url.replace('__CUSTOMER__', e.target.value)

				$.post(url, data => {
					app.appView.renderResponseAlert(data);
				}, "json")
				.fail( err => {
					app.appView.renderResponseAlert({"alertClass": "danger", "alertMessage": err.responseJSON.error});
				})
			})
		})
	</script>
{% endblock %}